* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background: rgb(218, 213, 223);
    height: 60px;
    position: relative;
}

.icono {
    cursor: pointer;
    margin-right: 50px;
    line-height: 60px;
}
.icono span {
    background: #f00;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -25px;
}
.icono img {
    display: inline-block;
    width: 40px;
    margin-top: 20px;
}

.icono:hover {
    opacity: .7;
}

.logo {
    flex: 1;
    margin-right: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace;
}

.caja-noti {
    width: 300px;
    height: 0px;
    position: absolute;
    top: 63px;
    right: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.caja-noti h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #000000;
}
.caja-noti h2 span {
    color: #f00;
}

.item-noti {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.item-noti hover {
    background-color: #ffffff;
}

.item-noti .texto h4 {
    color: #000000;
    font-size: 16px;
    margin-top: 10px;
}
.item-noti .texto p {
    color: #000000;
    font-size: 16px;
}

