.img-logo{
    width: 200px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 20px 0;
}

.col-project{
    min-height: 100vh;
    overflow: hidden;
}
.col-project input{
    border: 2px solid rgb(214, 214, 214);
    border-radius: 10px;
    width: 75%;
    margin-left: 10px;
}

.col-date{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-crear{
    font-weight: bold;
    color: whitesmoke;
    background-color: #010127;
    border: none;
    border-radius: 5px;
    padding: 12px 22px;
}

.container-task{
    border-radius: 8px;
    background-color: rgb(231, 229, 229);
    padding: 10px 30px;
    margin-bottom: 25px;
}
.container-task label{
    font-weight: bold;
    font-size: 20px;
}
.container-task span{
    font-size: 14px;
}

.task-state{
    color: rgb(231, 229, 229);
    font-weight: bold;
    background-color: #ffbd59;
    border-radius: 8px;
    text-align: center;
}
.task-state p{
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.btns-modal button{
    width: 85px;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: rgb(214, 214, 214);
    border: none;
    border-radius: 12px;
    box-shadow: 2.5px 0px gray;
}

.container-project{
    width: 275px;
    background-color: rgb(231, 229, 229);
    box-shadow: 5px 5px rgb(168, 168, 168);
}
.container-project img{
    width: inherit;
}
.container-project span{
    margin-left: 10px;
}

.container-grid{
    margin-top: 20px;
    position: absolute;
    display: grid;
    row-gap: 45px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (min-width: 100px){
    .container-grid{
        grid-template-columns: 1fr;
    }
    .container-task{
        width: 300px;
    }
}
@media (min-width: 650px){
    .container-grid{
        grid-template-columns: repeat(2,1fr);
        column-gap: 80px;
    }
    .container-task{
        width: 420px;
    }
}
@media (min-width: 920px){
    .container-grid{
        grid-template-columns: repeat(2,1fr);
        column-gap: 80px;
    }
    .col-project{
        position: relative;
    }
    .container-task{
        width: 300px;
    }
    .col-date{
        border-right: 10px solid rgb(214, 214, 214);
    }
}
@media (min-width: 1200px){
    .container-grid{
        grid-template-columns: repeat(2,1fr);
        column-gap: 80px;
    }
    .col-project{
        position: relative;
    }
    .container-task{
        width: 420px;
    }
    .col-date{
            border-right: 10px solid rgb(214, 214, 214);
    }
}
@media (min-width: 1300px){
    .container-grid{
        grid-template-columns: repeat(3,1fr);
        column-gap: 20px;
    }
    .col-project{
        position: relative;
    }
    .container-task{
        width: 420px;
    }
    .col-date{
            border-right: 10px solid rgb(214, 214, 214);
    }
}