.col-img{
    min-height: 100vh;
    overflow: hidden;
    border-right: 7px solid #010127;
}

.col-login{
    background-color: whitesmoke;
    min-height: 100vh;
}

.img-prin{
    width: 200%;
    height: 100%;
    transform: translateX(-400px);
}

.img-logo{
    width: 265px;
}

.form-login{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-left input{
    width: 350px;
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid rgb(148, 146, 146);
    border-radius: 8px;
    background-color: whitesmoke;
}

.align-left label{
    font-size: 15px;
    color: rgb(61, 59, 59);
}

button{
    color: whitesmoke;
    font-weight: bold;
    background-color: #010127;
    padding: 12px 35.5%;
    border: none;
    text-decoration: none;
    border-radius: 20px;
}

@media (min-width: 100px){
    .col-img{
        display: none;
    }
}

@media (min-width: 992px){
    .col-img{
        display: block;
    }
}

