body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.sidebar {
    height: 100vh;
    width: 70px; /* Barra más delgada */
    background-color: #001f3f; /* Azul marino */
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.sidebar .nav-link {
    color: white;
    padding: 15px 10px;
    text-align: center;
    width: 100%;
    transition: background 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .nav-link i {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.sidebar .nav-link.active {
    background-color: #004080; /* Color más claro para ícono activo */
}

.sidebar .nav-link:hover {
    background-color: #004080; /* Cambia de color al pasar el mouse */
    color: white;
}

.profile-section {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.profile-section img {
    border-radius: 50%;
    max-width: 50px;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.profile-section h5 {
    font-size: 0.9rem;
    color: white;
    margin: 0;
}

.profile-section .dropdown-menu {
    background-color: #001f3f;
    border: none;
}

.profile-section .dropdown-menu .dropdown-item {
    color: white;
}

.profile-section .dropdown-menu .dropdown-item:hover {
    background-color: #004080;
    color: white;
}

