@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    
}

#sidebar {
    
    width: 70px;
    min-width: 70px;
    height: 100vh;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #010127;
    display: flex;
    flex-direction: column;
}

.sidebar-nav {
    padding: 10px 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: 15px 20px;
    color: #ffffff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    
}

.sidebar-link i {
    margin-right: 5px;
    font-size: 1.5rem;
}

a.sidebar-link:hover {
    background-color: #f2f2f2;
    border-left: 8px solid #dd3b3b;
    color: #000000;
}

.sidebar-item {
    position: relative;
}

